<app-background></app-background>
<div class="login">
  <mat-icon class="login-logo">person_add</mat-icon>
  <h1 class="login-title">新客服注册</h1>
  <p class="login-desc">上海交通大学本科毕业论文</p>
  <div class="login-card">
    <form
      class="login-form"
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit(registerForm.value)"
    >
      <mat-form-field appearance="outline">
        <mat-label>用户名</mat-label>
        <input
          matInput
          placeholder="Username"
          formControlName="name"
          name="username"
          required
        />
        <mat-icon matSuffix class="">person_outline</mat-icon>
        <mat-hint align="end">4-200个字符</mat-hint>
        <mat-error *ngIf="name.invalid">
          {{ getErrorMessage(name, '用户名') }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>邮箱地址</mat-label>
        <input
          type="email"
          matInput
          placeholder="Email"
          name="email"
          formControlName="email"
          required
        />
        <mat-icon matSuffix class="">mail_outline</mat-icon>
        <mat-error *ngIf="email.invalid">
          {{ getErrorMessage(email, '邮箱地址') }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>密码</mat-label>
        <input
          type="password"
          matInput
          placeholder="Password"
          formControlName="password"
          required
        />
        <mat-icon matSuffix class="">fingerprint</mat-icon>
        <mat-hint align="end">4-200个字符</mat-hint>
        <mat-error *ngIf="password.invalid">
          {{ getErrorMessage(password, '密码') }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>重复密码</mat-label>
        <input
          type="password"
          required
          matInput
          placeholder="Verify password"
          formControlName="verifyPassword"
        />
        <mat-icon matSuffix class="">fingerprint</mat-icon>
        <mat-hint align="end"></mat-hint>
        <mat-error *ngIf="verifyPassword.invalid">
          {{ getErrorMessage(verifyPassword, '重复密码') }}
        </mat-error>
      </mat-form-field>

      <div class="login-box">
        <div
          class="login-avatar"
          (click)="openDialog()"
          matTooltip="选择头像"
          matTooltipPosition="after"
        >
          <div class="login-icon" *ngIf="!avatar">
            <mat-icon>face</mat-icon>
          </div>
          <div class="login-icon" *ngIf="avatar">
            {{ Utils.codeToEmoji(avatar) }}
          </div>
        </div>
      </div>

      <button
        class="login-submit"
        mat-flat-button
        color="primary"
        type="submit"
      >
        注册
      </button>
    </form>
  </div>
  <div class="login-card">已有账号？<a routerLink="/login">返回登录</a></div>
</div>
