<app-background></app-background>
<div class="login">
  <mat-icon class="login-logo">person_add</mat-icon>
  <h1 class="login-title">新客服注册</h1>
  <p class="login-desc">上海交通大学本科毕业论文</p>
  <div class="login-card">
    <form
      (ngSubmit)="onSubmit(registerForm.value)"
      [formGroup]="registerForm"
      class="login-form"
    >
      <mat-form-field appearance="outline">
        <mat-label>用户名</mat-label>
        <input
          formControlName="name"
          matInput
          name="username"
          placeholder="Username"
          required
        />
        <mat-icon class="" matSuffix>person_outline</mat-icon>
        <mat-hint align="end">4-200个字符</mat-hint>
        <mat-error *ngIf="name.invalid">
          {{ Utils.getValidateMessage(name, '用户名') }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>邮箱地址</mat-label>
        <input
          formControlName="email"
          matInput
          name="email"
          placeholder="Email"
          required
          type="email"
        />
        <mat-icon class="" matSuffix>mail_outline</mat-icon>
        <mat-hint align="end">请输入可以接受邮件的邮箱</mat-hint>
        <mat-error *ngIf="email.invalid">
          {{ Utils.getValidateMessage(email, '邮箱地址') }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>密码</mat-label>
        <input
          formControlName="password"
          matInput
          placeholder="Password"
          required
          type="password"
        />
        <mat-icon class="" matSuffix>fingerprint</mat-icon>
        <mat-hint align="end">4-200个字符</mat-hint>
        <mat-error *ngIf="password.invalid">
          {{ Utils.getValidateMessage(password, '密码') }}
        </mat-error>
      </mat-form-field>

      <div
        [ngClass]="{ 'form-group-error': registerForm.errors?.verifyPassword }"
        class="form-group"
      >
        <mat-form-field appearance="outline">
          <mat-label>重复密码</mat-label>
          <input
            formControlName="verifyPassword"
            matInput
            placeholder="Verify password"
            required
            type="password"
          />
          <mat-icon class="" matSuffix>fingerprint</mat-icon>
          <mat-hint align="end">再次输入相同密码</mat-hint>
          <mat-error *ngIf="verifyPassword.invalid">
            {{ Utils.getValidateMessage(verifyPassword, '重复密码') }}
          </mat-error>
        </mat-form-field>
        <div
          *ngIf="!verifyPassword.invalid && registerForm.errors?.verifyPassword"
          class="form-group-error-box"
        >
          <div class="form-group-error-text">
            密码与重复密码必须相同
          </div>
        </div>
      </div>

      <div class="login-box">
        <div
          (click)="openDialog()"
          class="login-avatar"
          matTooltip="选择头像"
          matTooltipPosition="after"
        >
          <div *ngIf="!avatar" class="login-icon">
            <mat-icon>face</mat-icon>
          </div>
          <div *ngIf="avatar" class="login-icon">
            {{ Utils.codeToEmoji(avatar) }}
          </div>
        </div>
      </div>

      <button
        class="login-submit"
        color="primary"
        mat-flat-button
        type="submit"
      >
        注册
      </button>
    </form>
  </div>
  <div class="login-card">已有账号？<a routerLink="/login">返回登录</a></div>
</div>
