.list-table {
  min-width: 1800px;
}

.col_name {
  flex-grow: 1;
}

.col-nick-name {
  flex-grow: 1;
}

.col-real-name {
  flex-grow: 1;
}

.col_type {
  flex-grow: 1;
}

.col_level {
  flex-grow: 1;
}

.col-registration-time {
  flex-grow: 1;
}

.col_gender {
  flex-grow: 1;
}

.col_birthday {
  flex-grow: 1;
}

.col_city {
  flex-grow: 1;
}

.col_occupation {
  flex-grow: 1;
}

.col-annual-income {
  flex-grow: 1;
}

.col_education {
  flex-grow: 1;
}

.col-marital-status {
  flex-grow: 1;
}

.col-number-of-children {
  flex-grow: 1;
}

.col-phone-number {
  flex-grow: 1;
}

.col-we-chat {
  flex-grow: 1;
}

.col_qq {
  flex-grow: 1;
}

.col_email {
  flex-grow: 1;
}
