<article class="page">
  <header class="page-header">
    <h2>用户列表</h2>
    <section class="button-group">
      <button mat-flat-button (click)="handleAdd()">
        <mat-icon>add_circle_outline</mat-icon>
        <span>新增</span>
      </button>
      <button
        mat-flat-button
        color="primary"
        (click)="refreshPage()"
        [disabled]="getLoading"
      >
        <mat-icon *ngIf="!getLoading">refresh</mat-icon>
        <span>刷新</span>
        <mat-spinner *ngIf="getLoading" color="primary"></mat-spinner>
      </button>
    </section>
  </header>
  <div class="table-box">
    <mat-progress-bar mode="query" *ngIf="getLoading"></mat-progress-bar>
    <mat-table [dataSource]="dataSource" class="list-table" matSort>
      <ng-container matColumnDef="name">
        <mat-header-cell class="col-name" mat-sort-header *matHeaderCellDef>
          客户用户名
        </mat-header-cell>
        <mat-cell class="col-name" *matCellDef="let element">
          {{ element.name }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="nickName">
        <mat-header-cell
          class="col-nick-name"
          mat-sort-header
          *matHeaderCellDef
        >
          昵称
        </mat-header-cell>
        <mat-cell class="col-nick-name" *matCellDef="let element">
          {{ element.nickName }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="realName">
        <mat-header-cell
          class="col-real-name"
          mat-sort-header
          *matHeaderCellDef
        >
          真实姓名
        </mat-header-cell>
        <mat-cell class="col-real-name" *matCellDef="let element">
          {{ element.realName }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="type">
        <mat-header-cell class="col-type" mat-sort-header *matHeaderCellDef>
          类型
        </mat-header-cell>
        <mat-cell class="col-type" *matCellDef="let element">
          {{ customerTypeTable[element.type].title }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="level">
        <mat-header-cell class="col-level" mat-sort-header *matHeaderCellDef>
          等级
        </mat-header-cell>
        <mat-cell class="col-level" *matCellDef="let element">
          <mat-icon>{{ customerLevelTable[element.level].icon }}</mat-icon>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="registrationTime">
        <mat-header-cell
          class="col-registration-time"
          mat-sort-header
          *matHeaderCellDef
        >
          注册时间
        </mat-header-cell>
        <mat-cell class="col-registration-time" *matCellDef="let element">
          {{ element.registrationTime | date: 'yyyy-MM-dd' }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="gender">
        <mat-header-cell class="col-gender" mat-sort-header *matHeaderCellDef>
          性别
        </mat-header-cell>
        <mat-cell class="col-gender" *matCellDef="let element">
          {{ customerGenderTable[element.gender].title }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="birthday">
        <mat-header-cell class="col-birthday" mat-sort-header *matHeaderCellDef>
          生日
        </mat-header-cell>
        <mat-cell class="col-birthday" *matCellDef="let element">
          {{ element.birthday | date: 'yyyy-MM-dd' }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="city">
        <mat-header-cell class="col-city" mat-sort-header *matHeaderCellDef>
          城市
        </mat-header-cell>
        <mat-cell class="col-city" *matCellDef="let element">
          {{ citiesTable[element.city]?.name }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="occupation">
        <mat-header-cell
          class="col-occupation"
          mat-sort-header
          *matHeaderCellDef
        >
          职业
        </mat-header-cell>
        <mat-cell class="col-occupation" *matCellDef="let element">
          {{ element.occupation }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="annualIncome">
        <mat-header-cell
          class="col-annual-income"
          mat-sort-header
          *matHeaderCellDef
        >
          年收入（元）
        </mat-header-cell>
        <mat-cell class="col-annual-income" *matCellDef="let element">
          {{ element.annualIncome | currency: 'CNY':'symbol-narrow' }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="education">
        <mat-header-cell
          class="col-education"
          mat-sort-header
          *matHeaderCellDef
        >
          学历
        </mat-header-cell>
        <mat-cell class="col-education" *matCellDef="let element">
          {{ customerEducationTable[element.education].title }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="maritalStatus">
        <mat-header-cell
          class="col-marital-status"
          mat-sort-header
          *matHeaderCellDef
        >
          婚姻状况
        </mat-header-cell>
        <mat-cell class="col-marital-status" *matCellDef="let element">
          {{ customerMaritalStatusTable[element.maritalStatus].title }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="numberOfChildren">
        <mat-header-cell
          class="col-number-of-children"
          mat-sort-header
          *matHeaderCellDef
        >
          孩子数量
        </mat-header-cell>
        <mat-cell class="col-number-of-children" *matCellDef="let element">
          {{ element.numberOfChildren || '--' }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="phoneNumber">
        <mat-header-cell
          class="col-phone-number"
          mat-sort-header
          *matHeaderCellDef
        >
          手机号
        </mat-header-cell>
        <mat-cell class="col-phone-number" *matCellDef="let element">
          {{ element.phoneNumber }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="weChat">
        <mat-header-cell class="col-we-chat" mat-sort-header *matHeaderCellDef>
          微信号
        </mat-header-cell>
        <mat-cell class="col-we-chat" *matCellDef="let element">
          {{ element.weChat }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="qq">
        <mat-header-cell class="col-qq" mat-sort-header *matHeaderCellDef>
          QQ号
        </mat-header-cell>
        <mat-cell class="col-qq" *matCellDef="let element">
          {{ element.qq }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell class="col-email" mat-sort-header *matHeaderCellDef>
          邮箱地址
        </mat-header-cell>
        <mat-cell class="col-email" *matCellDef="let element">
          {{ element.email }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="operation" [stickyEnd]="stickyEnd">
        <mat-header-cell
          class="col-operation"
          *matHeaderCellDef
          matRipple
          (click)="handleToggleSticky()"
        >
          <mat-icon *ngIf="!stickyEnd">layers</mat-icon>
          <mat-icon *ngIf="stickyEnd">layers_clear</mat-icon>
          <span>操作</span>
        </mat-header-cell>
        <mat-cell class="col-operation" *matCellDef="let element">
          <button mat-flat-button (click)="handleEdit(element)">
            <mat-icon>edit</mat-icon>
            <span>编辑</span>
          </button>
          <button
            mat-flat-button
            (click)="handleDelete(element)"
            [color]="isWaiting(element.uuid) ? 'warn' : null"
            [disabled]="isDeleting(element.uuid)"
          >
            <mat-icon *ngIf="!isDeleting(element.uuid)">
              {{ isWaiting(element.uuid) ? 'delete_forever' : 'delete' }}
            </mat-icon>
            <span>删除</span>
            <mat-spinner
              *ngIf="isDeleting(element.uuid)"
              color="primary"
            ></mat-spinner>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
  <mat-paginator
    [length]="pagination.length"
    [pageSize]="pagination.pageSize"
    [pageSizeOptions]="Utils.pageSizeOptions"
    (page)="handlePageEvent($event)"
  >
  </mat-paginator>
</article>
