<article class="page">
  <form
    class="edit-from"
    [formGroup]="editForm"
    (ngSubmit)="onSubmit(editForm.value)"
  >
    <mat-form-field appearance="outline" *ngIf="isEdit">
      <mat-label>编号</mat-label>
      <input matInput [value]="knowledge.uuid || ''" disabled />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>文章标题</mat-label>
      <input formControlName="title" matInput placeholder="Title" required />
      <mat-hint align="end">1-64个字符</mat-hint>
      <mat-error *ngIf="title.invalid">
        {{ Utils.getValidateMessage(title, '文章标题') }}
      </mat-error>
    </mat-form-field>

    <div class="rich-text-edit">
      <ckeditor
        [editor]="Editor"
        [config]="config"
        formControlName="content"
      ></ckeditor>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>作者</mat-label>
      <input formControlName="author" matInput placeholder="Author" />
    </mat-form-field>

    <section>
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="saveLoading"
      >
        <span>保存</span>
        <mat-spinner *ngIf="saveLoading" color="primary"></mat-spinner>
      </button>
      <button mat-flat-button type="button" (click)="resetForm()">
        <span>重置</span>
      </button>
    </section>
  </form>
</article>
