.login {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-logo {
  user-select: none;
  font-size: 64px;
  margin: 32px;
  width: 64px;
  height: 64px;
}

.login-title {
  margin: 0 0 8px 0;
}

.login-desc {
  color: #999;
  font-size: 16px;
  margin: 0 0 32px 0;
}

.login-card {
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  margin: 0 0 32px 0;
  padding: 32px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #fff;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-submit {
  margin-top: 8px;
}
