<h1 mat-dialog-title>选择头像</h1>
<div mat-dialog-content>
  <div class="avatars-list">
    <div
      (click)="selectAvatar(avatar.code)"
      *ngFor="let avatar of avatars | async"
      [ngClass]="{ active: avatar.code === data.code }"
      class="avatars-item"
    >
      <div class="avatars-icon">{{ Utils.codeToEmoji(avatar.code) }}</div>
      <div class="avatars-title">{{ avatar.name }}</div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button (click)="onNoClick()" mat-flat-button>取消</button>
  <button [mat-dialog-close]="data.code" color="primary" mat-flat-button>
    确定
  </button>
</div>
