<article class="page">
  <header class="page-header">
    <h2>用户列表</h2>
    <section class="button-group">
      <button mat-flat-button (click)="handleAdd()">
        <mat-icon>add_circle_outline</mat-icon>
        <span>新增</span>
      </button>
      <button mat-flat-button color="primary" (click)="refreshPage()">
        <mat-icon>refresh</mat-icon>
        <span>刷新</span>
      </button>
    </section>
  </header>
  <div class="table-box">
    <mat-table [dataSource]="dataSource" class="list-table" matSort>
      <ng-container matColumnDef="name">
        <mat-header-cell
          class="col-name"
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
        >
          用户名
        </mat-header-cell>
        <mat-cell class="col-name" *matCellDef="let element">
          {{ element.name }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="realName">
        <mat-header-cell
          class="col-real-name"
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
        >
          真实姓名
        </mat-header-cell>
        <mat-cell class="col-real-name" *matCellDef="let element">
          {{ element.realName }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="roles">
        <mat-header-cell class="col-roles" mat-header-cell *matHeaderCellDef>
          角色
        </mat-header-cell>
        <mat-cell class="col-roles" *matCellDef="let element">
          <mat-chip-list>
            <mat-chip *ngFor="let role of element.roles">
              {{ role.title }}
            </mat-chip>
          </mat-chip-list>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="avatar">
        <mat-header-cell class="col-avatar" mat-header-cell *matHeaderCellDef>
          头像
        </mat-header-cell>
        <mat-cell class="col-avatar" *matCellDef="let element">
          <span class="crm-small-avatar">
            {{ Utils.codeToEmoji(element.avatar) }}
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell
          class="col-email"
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
        >
          邮箱地址
        </mat-header-cell>
        <mat-cell class="col-email" *matCellDef="let element">
          {{ element.email }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="operation">
        <mat-header-cell
          class="col-operation"
          mat-header-cell
          *matHeaderCellDef
        >
          操作
        </mat-header-cell>
        <mat-cell class="col-operation" *matCellDef="let element">
          <button
            mat-flat-button
            (click)="handleEdit(element)"
            [disabled]="element.name === 'admin'"
          >
            <mat-icon>edit</mat-icon>
            <span>编辑</span>
          </button>
          <button
            mat-flat-button
            (click)="handleDelete(element)"
            [color]="isWaiting(element.uuid) ? 'warn' : null"
            [disabled]="element.name === 'admin' || isDeleting(element.uuid)"
          >
            <mat-icon *ngIf="!isDeleting(element.uuid)">
              {{ isWaiting(element.uuid) ? 'delete_forever' : 'delete' }}
            </mat-icon>
            <span>删除</span>
            <mat-spinner
              *ngIf="isDeleting(element.uuid)"
              color="primary"
            ></mat-spinner>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
</article>
