<article class="page">
  <h2>用户列表</h2>
  <div class="table-box">
    <table mat-table [dataSource]="users" class="list-table">
      <ng-container matColumnDef="name">
        <mat-header-cell class="col-name" mat-header-cell *matHeaderCellDef>
          用户名
        </mat-header-cell>
        <mat-cell class="col-name" *matCellDef="let element">
          {{ element.name }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="roles">
        <mat-header-cell class="col-roles" mat-header-cell *matHeaderCellDef>
          角色
        </mat-header-cell>
        <mat-cell class="col-roles" *matCellDef="let element">
          <mat-chip-list>
            <mat-chip *ngFor="let role of element.roles">
              {{ role.title }}
            </mat-chip>
          </mat-chip-list>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell class="col-email" mat-header-cell *matHeaderCellDef>
          邮箱地址
        </mat-header-cell>
        <mat-cell class="col-email" *matCellDef="let element">
          {{ element.email }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="realName">
        <mat-header-cell
          class="col-real-name"
          mat-header-cell
          *matHeaderCellDef
        >
          真实姓名
        </mat-header-cell>
        <mat-cell class="col-real-name" *matCellDef="let element">
          {{ element.realName }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="avatar">
        <mat-header-cell class="col-avatar" mat-header-cell *matHeaderCellDef>
          头像
        </mat-header-cell>
        <mat-cell class="col-avatar" *matCellDef="let element">
          <span class="crm-small-avatar">{{ Utils.codeToEmoji(element.avatar) }}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="operation">
        <mat-header-cell
          class="col-real-operation"
          mat-header-cell
          *matHeaderCellDef
        >
          操作
        </mat-header-cell>
        <mat-cell class="col-real-operation" *matCellDef="let element">
          <button
            mat-flat-button
            (click)="handleEdit(element)"
            [disabled]="element.name === 'admin'"
          >
            <mat-icon>edit</mat-icon>
            编辑
          </button>
          <button
            mat-flat-button
            (click)="handleDelete(element)"
            [color]="waitDeleteIndex[element.uuid] ? 'warn' : null"
            [disabled]="element.name === 'admin'"
          >
            <mat-icon>
              {{ waitDeleteIndex[element.uuid] ? 'delete_forever' : 'delete' }}
            </mat-icon>
            删除
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </table>
  </div>
</article>
