<mat-toolbar class="toolbar" color="primary">
  <section>
    <h1>客户关系管理系统</h1>
  </section>
  <section>
    <button [matMenuTriggerFor]="menu" mat-button>{{user?.name || '用户'}}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>个人中心</span>
      </button>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>个人设置</span>
      </button>
      <button mat-menu-item routerLink="/login">
        <mat-icon>exit_to_app</mat-icon>
        <span>退出</span>
      </button>
    </mat-menu>
  </section>
</mat-toolbar>
