<section id="login">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>客户关系管理系统</mat-card-title>
    </mat-card-header>
    <mat-card-content class="login-form">
      <mat-form-field>
        <input matInput placeholder="用户名" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="密码" type="password" />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button color="primary" mat-flat-button>登录</button>
    </mat-card-actions>
  </mat-card>
</section>
