<mat-nav-list>
  <mat-list-item (click)="handleOpenStatistics()">
    <mat-icon mat-list-icon>equalizer</mat-icon>
    <p mat-line>数据统计</p>
  </mat-list-item>
</mat-nav-list>

<mat-divider></mat-divider>

<mat-nav-list>
  <h3 mat-subheader>客服工作台</h3>

  <mat-list-item (click)="handleOpenComplaint()">
    <mat-icon mat-list-icon>chat</mat-icon>
    <p mat-line>客户投诉</p>
  </mat-list-item>

  <mat-list-item>
    <mat-icon mat-list-icon>trending_up</mat-icon>
    <p mat-line>营销任务</p>
  </mat-list-item>
</mat-nav-list>

<mat-divider></mat-divider>

<mat-nav-list>
  <h3 mat-subheader>客户中心</h3>

  <mat-list-item (click)="handleOpenCustomer()">
    <mat-icon mat-list-icon>supervisor_account</mat-icon>
    <p mat-line>客户管理</p>
  </mat-list-item>

  <mat-list-item (click)="handleOpenLabel()">
    <mat-icon mat-list-icon>loyalty</mat-icon>
    <p mat-line>标签管理</p>
  </mat-list-item>
</mat-nav-list>

<mat-divider></mat-divider>

<mat-nav-list>
  <h3 mat-subheader>知识库</h3>

  <mat-list-item (click)="handleOpenKnowledgeSearch()">
    <mat-icon mat-list-icon>search</mat-icon>
    <p mat-line>知识查询</p>
  </mat-list-item>

  <mat-list-item (click)="handleOpenKnowledgeList()">
    <mat-icon mat-list-icon>local_library</mat-icon>
    <p mat-line>知识管理</p>
  </mat-list-item>
</mat-nav-list>

<mat-divider></mat-divider>

<mat-nav-list>
  <h3 mat-subheader>系统管理</h3>

  <mat-list-item (click)="handleOpenUser()">
    <mat-icon mat-list-icon>person</mat-icon>
    <p mat-line>用户管理</p>
  </mat-list-item>

  <mat-list-item (click)="handleOpenRole()">
    <mat-icon mat-list-icon>face</mat-icon>
    <p mat-line>角色管理</p>
  </mat-list-item>

  <mat-list-item (click)="handleOpenPermission()">
    <mat-icon mat-list-icon>vpn_key</mat-icon>
    <p mat-line>权限管理</p>
  </mat-list-item>
</mat-nav-list>
