/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.32);
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
}

//region element
html,
body {
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10px;
}

a {
  color: #29e;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid currentColor;
  }
}

//endregion

//region material

//region icon
.mat-icon {
  user-select: none;
}

//endregion

//region fab
.mat-mini-fab .mat-button-wrapper {
  .mat-icon {
    vertical-align: top;
  }
}

//endregion

//region menu
button.mat-menu-item {
  display: flex;
  align-items: center;
}

//endregion

//region button
.mat-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .mat-progress-spinner {
    margin-left: 0.25em;
    width: 1em !important;
    height: 1em !important;

    svg {
      width: 1em !important;
      height: 1em !important;
    }
  }
}

//endregion

//region form
.mat-form-field-appearance-outline .mat-form-field-infix {
  cursor: text;
}

.mat-form-field-autofilled .mat-form-field-outline {
  .mat-form-field-outline-start,
  .mat-form-field-outline-gap,
  .mat-form-field-outline-end {
    background-color: rgb(232, 240, 254) !important;
  }
}

.mat-form-field-prefix,
.mat-form-field-suffix {
  user-select: none;
}

//endregion

//region dialog
.mat-dialog-actions {
  .mat-flat-button + .mat-flat-button {
    margin-left: 8px;
  }
}

//endregion

//region chip
.mat-chip-list {
  .mat-chip-list-wrapper {
    margin: 0;
  }

  .mat-standard-chip {
    height: auto;
  }
}

//endregion

//endregion

//region global
.form-group {
  display: flex;
  flex-direction: column;

  &.form-group-error {
    position: relative;
    color: #f44336;

    .mat-form-field .mat-form-field-label,
    .mat-form-field-appearance-outline .mat-form-field-outline {
      color: #f44336;
    }

    .mat-form-field-appearance-outline .mat-form-field-outline-start,
    .mat-form-field-appearance-outline .mat-form-field-outline-gap,
    .mat-form-field-appearance-outline .mat-form-field-outline-end {
      border-width: 2px;
    }
  }
}

.form-group-error-box {
  padding-bottom: 1.34375em;
  position: absolute;
  width: 100%;
  margin-top: 4em;
}

.form-group-error-text {
  padding: 0 1em;
  text-align: left;
  color: #f44336;
  font-size: 75%;
  margin-top: 0.66667em;
  line-height: 1.125;
  top: calc(100% - 1.79167em);

  .mat-icon {
    width: 1em;
    height: 1em;
    font-size: inherit;
    vertical-align: baseline;
  }
}

.page {
  padding: 10px;
}

//endregion

//region avatar
.crm-small-avatar {
  user-select: none;
  font-size: 20px;
  width: 36px;
  height: 36px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

//endregion
