<article id="everything">
  <header id="header">
    <app-header [user]="user"></app-header>
  </header>
  <section id="layout">
    <aside id="side">
      <app-menu></app-menu>
    </aside>
    <main id="main">
      <mat-tab-group
        animationDuration="0ms"
        [selectedIndex]="selected.value"
        (selectedIndexChange)="selected.setValue($event)"
        *ngIf="tabs.length"
      >
        <mat-tab *ngFor="let tab of tabs; let i = index">
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon" *ngIf="tab.icon">
              {{ tab.icon }}
            </mat-icon>
            <span class="tab-title">{{ tab.title }}</span>
            <mat-icon class="tab-close" (click)="handleClose(i)">
              close
            </mat-icon>
          </ng-template>
          <app-pane [tab]="tab" id="pane"></app-pane>
        </mat-tab>
      </mat-tab-group>
    </main>
  </section>
  <footer id="footer">
    <app-footer></app-footer>
  </footer>
</article>
